  <video muted="" autoplay="" #video id="video" playsinline=""></video>
    <div *ngIf="isPC">
      <canvas #pcCanvas id="pcCanvas" width="640" height="480" style="display: none; float: bottom;"></canvas>
    </div>
    <div *ngIf="!isPC">
      <canvas #mobileCanvas id="mobileCanvas" width="240" height="320" style="display: none; float: bottom;"></canvas>
    </div>
  
    <script>
      var Module = {
        locateFile: function(s) {
          return s;
        }
      };
    </script> 
    <script async="" src="./wasm/zxing.js"></script>

<ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.frontmatec.com">Frontmatec Homepage</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/yushulx/zxing-cpp-emscripten">Zxing Barcode Reader</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://pwa-wasm-app.herokuapp.com">PWA-Demo</a></h2>
    </li>
  </ul>
