<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1
    class="md-title"> Welcome to {{ title }}!
  </h1>
  <img mat-card-sm-image alt="Frontmatec Logo" src="../assets/icons/Frontmatec.png">
</div>
<div>
    <app-insert-container-in-location></app-insert-container-in-location>
</div>
<button mat-raised-button color="primary" (click)="startRead()">Toggle Camera</button>
<div *ngIf="isBarcodeReaderVisible">
  <app-barcode-reader></app-barcode-reader>
</div>
<!--<router-outlet></router-outlet>-->
